
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Login</title>
</head>

<body>
  <div class="container">
    <div class="loginPage">
        <div class="formBox">
            <h1>Sign In</h1>
            <form id="login-form">
                <div class="input-group">
                    <div class="inputBox">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="email" id="username-input" name="email" placeholder="E-mail" required>
                    </div>
                    <div class="inputBox">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" id="password-input" name="password" placeholder="Password" required>
                    </div>
                    <div class="buttonField">
                        <button type="submit" id="signUpButton">Sign In</button>
                    </div>
                    <p>Don't have an account? <a href="/register">Register</a></p>
                </div>
            </form>
        </div>
    </div>
</div>


  <script src="../public/script.js"></script>


  <script>
    const loginForm = document.getElementById('login-form');
    const usernameInput = document.getElementById('username-input');
    const passwordInput = document.getElementById('password-input');

    loginForm.addEventListener('submit', (event) => {
      event.preventDefault();

      const username = usernameInput.value.trim();
      const password = passwordInput.value.trim();

      fetch('/login', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ username, password })
      })
        .then(response => response.json())
        .then(data => {
          // Store the token in local storage
          localStorage.setItem('token', data.token);

          // Redirect to the to-do list page
          window.location.href = '/';
        })
        .catch(error => console.error('Error logging in:', error));
    });
  </script>
</body>

</html>