
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: rgb(27, 41, 27);
}
  
h1 {
  color: #999;
  text-align: center;
}
  
form {
  display: flex;
  margin-bottom: 20px;
  margin-left: 300px;
  margin-right: 300px;
  border-radius: 5px;
  justify-content: space-around;
}

form input{
  border-radius: 10px;
}

form button{
  margin-left: 20px;
  border-radius: 10px;
}
  
input[type="text"] {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
}
  
button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: green;
  color: #fff;
  border: none;
  cursor: pointer;
  align-self: center;
}
  
button:hover {
  background-color: #45a049;
}
  
ul {
  list-style-type: none;
  padding: 0;
  margin-top: 65px;
  margin-left: 350px;
  margin-right: 350px;
}
  
li{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: black;
}
  
li span {
  border-radius: 10px;
  flex: 1;
  padding: 10px;
  background-color: #f2f2f2;
}
  
li button {
  margin-left: 10px;
  border-radius: 10px;
  padding: 10px;
  background-color: green;
  color: #fff;
  border: none;
  cursor: pointer;
}
  
li button:hover {
  background-color: #4CAF50;
}

.logout{
  height: 100px;
  margin-left: 350px;
  margin-right: 350px;
  float: right;
}

.logout button{
  border-radius: 10px;
  margin-right: 0px;
  background-color: #d32f2f;
}